header
  background-color: $c-purple
  color: $c-white
  & .container
    display: flex
    justify-content: space-between
    align-items: center
    padding: 40px 0 20px 0
    & .logo
      margin-left: 1em
      & a
        font-size: $size-35
        font-weight: 500

    & nav
      width: 65%
      margin-left: 50px
      display: flex
      justify-content: space-around
    & a
      color: $c-white
      font-size: $size-24
      font-weight: 300


