.overview-wrapper
  margin: 4em 0
  background-image: url(../img/img-block-1.png)
  background-size: cover
  background-repeat: no-repeat
  box-shadow: 0px 7px 34px 5px #dcd8ef

.overwiev-content
  width: 62%
  margin-left: 35%
  padding: 3em
  h1
    padding-left: 1.5em
    font-weight: 400
    span
      font-weight: 700
  h2
    .word-sp
      word-spacing: 0.25em
  img
    max-width: 100%
    height: auto
  .description--thing
    font-weight: 300
  .red-bold
    font-weight: 500
    color: $c-red

.overview__img
  text-align: center


.overview-js
  margin-top: 143px